@import "styles_general.css";

.subcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10vw;
}

.contact_form{
    display: grid;
    width: fit-content;
    gap: 1rem;
    padding: 1rem;
    border: dashed 1px var(--blue4);
    grid-template-columns: repeat(4,10vw);
    grid-template-rows: repeat(2,fit-content) 5fr 1fr;
}

.firstCol{
    grid-column: 1/2;
}

.secondColShort{
    grid-column: 2/3;
}

.secondColLong{
    grid-column: 2/5;
}

.thirdCol{
    grid-column: 3/4;
}

.quarterCol{
    grid-column: 4/5;
}

input .secondColLong{
    grid-row: 2/3;
}

textarea{
    grid-row: 3/4;
}

::placeholder, input, textarea{
    background-color: var(--blue3);
    color: var(--blue1);
    border: none;
    font-size: 1.6rem;
}

.contact_button{
    justify-self: center;
}

button{
    background-color: var(--blue4);
    color: var(--blue1);
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    border-radius: 20px;
    width: max-content;  
    grid-row: 4/5;
    grid-column: 4/5;  
}