:root{
    --blue1: #ecefef;
    --blue2: #a0b9cf;
    --blue3: #84a5c1;
    --blue4: #3c5a81;
    /*font-size: max(20px,3vh);*/
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--blue1);
    color: var(--blue4);
    display: grid;
    grid-auto-flow: row;
    font-size: 1.8rem;
}

.header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
    background-image: url(header2.png);
    background-size: 100% 100%;
    /*background-position-y: bottom;*/
    /*height: max-content;*/
    margin-bottom: 1rem;
}

.big,
.small{
    color: var(--blue1);
    font-weight: bold;
}

.big{
    font-size: 3rem;    
    padding-bottom: 1rem;
}

.small{
    font-size: 1.6rem;
    font-style: italic;
}

.flag img{
    height: 5rem;
    width: 9rem;
}

.footer,
.menu{
    background-color: var(--blue3);
    color: var(--blue1);
    
}

.menu{
    font-size: 1.6rem;
    display: grid;
    grid-auto-flow: column;
    padding: 1rem;
}

.menu-tabs{
    display: grid;
    grid-auto-flow: column;
    /*column-gap: 1vw;*/
    justify-content: end;
}

.tab{
    /*border: solid 1px var(--blue4);*/
    width: max-content;
    margin-right: 4rem;
}

.footer{
    font-size: 1.2rem;
    padding: 1rem;
    position: fixed;
    text-align: center;
    bottom: 0vh;
    width: 100vw;
}